
<div id="product_component">
    <h1>Termékek</h1>
    <div  fxLayout="row wrap" fxLayoutGap="10px">
        <mat-card *ngFor="let product of productArray">
            <mat-card-header>
                <mat-card-title>{{product.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column">
                    <img class="image" mat-card-image [src]="product.image">
                    <p>Méret: {{product.size | custom}}</p>
                    <p>Ár: {{product.price}} Ft</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Képzeletbeli vásárlás</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
