<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-menu (selectedPage)="changePage($event)" [currentPage]="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
            <button mat-icon-button (click)="open(sidenav)">
                <mat-icon>menu</mat-icon>
            </button>
            </div>
            <div>SzőnyegBazár</div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
            <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                <li><a routerLink="/main">Főoldal</a></li>
                <li><a routerLink="/products" [ngStyle]="{'color': loggedInUser ? '#FFC107' : ''}">Termékek</a></li>
                <li><a routerLink="/comments" [ngStyle]="{'color': loggedInUser ? '#FFC107' : ''}">Vélemények</a></li>
                <li><a routerLink="/registration">Regisztráció</a></li>
                <li *ngIf="!(loggedInUser)"><a routerLink="/login">Bejelentkezés</a></li>
                <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Kijelentkezés</a></li>
            </ul>
        </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
